body{
  margin-left: 50px;
  margin-top:10px;
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}
#message{
  height:20px;
  font-size: 20px;
}
#score{
  margin:10px;
  margin-left:250px;
}

#board{
  width:300px;
  height: 500px;
  border-color: 10px solid blue;
}
.frame{
  border: solid 10px blue;
  width: 300px;
  height: 400px;
}
.grid{
  width:20px;
  height:20px;
  float:left;
  background-color: black;
  border-color: blue;
}
.space{
  background-color: black;
}
.apple{
  background-color:#FF6699;
}
.snake{
  background-color:#00FF99; 
}


